.sidebar {
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid;
    color: #a9a9a9;
    border-top: 0;
    font-size: max(1vw, 10px);
}

.sidebar-options {
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-option {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #a9a9a9;
    text-decoration: none;
    border-right: 0;
    padding: 8px 10px;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
    transition: all .4s
}

.sidebar-img {
    width: 30px;
    height: 30px
}

.sidebar-img-svg {
    width: 25px;
    height: 25px;
    color: #000;
}

@media(max-width: 900px) {
    .sidebar-option p {
        display: none;
    }
}


.active-option {
    background: tomato;
    border-radius: 10px 0 0 10px;
    box-shadow: 2px 2px 10px #333;
    color: #000
}

@media (max-width: 500px) {
    .sidebar {
        width: 35%;
    }
}